@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);

/* font-family: 'Jeju Gothic', sans-serif; */

/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
	font-family: 'Jeju Gothic', sans-serif;
}

a{
	text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}


/* Custom CSS
 * --------------------------------------- */
.hidden{display: block;
    position: absolute;
    left: -1000%;
    width: 1px;
    height: 1px;
    overflow: hidden;
    color: #fff;
}

.mega{font-size: 14rem;}
@media screen and (max-width:1185px) {
	.mega{font-size: 16vw;}
}

.t1{margin-bottom: 15px;
}

.skill{position: absolute;
    transform: translate(-50%, -50%);
    left: 24%;
    top: 67%;
    width: 654px;
	font-size: 1rem;
	background: rgba(84,63,255,0.4);
    padding: 4px 50px;
    border-radius: 5px;
    display: inline-block;}

.skill img{border: 0;
    max-height: 40px;
	padding: 1.2%;}

.link {
    position: absolute;
    left: 24.4%;
    top: 17%;
    transform: translate(-50%, -50%);
}

.link a{
	margin-right: 10px;
}

body{
	font-family: 'Jeju Gothic', sans-serif;
	color: #333;
	color: rgba(0,0,0,0.5);
}
.wrap{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}

h1{
	font-size: 6em;
}
p{
	font-size: 2em;
}

dt{color: #f1f1f1;
	text-align: left;
	margin: 1% 1.6%;
	font-size: 2rem;}

dd{ margin: 1% 1.6%;
    color: #f1f1f1;
    font-size: 1.3rem;
    text-align: justify;
    line-height: 2.5rem;}

.intro p{
	width: 50%;
	margin: 0 auto;
	font-size: 1.5em;
}

.section{
	text-align:center;
	overflow: hidden;
}

.table{position: absolute;
    left: 24%;
    top: 35.4%;
    transform: translate(-50%, -50%);
    width: 754px;
	color: #f1f1f1;
	font-size: 1.8rem;
    background: rgba(84,63,255,0.4);
    padding: 4px 101px;
    border-radius: 5px;
    display: inline-block;}

.table td, .table th{padding: 0.75rem;}

#article{
	width: 700PX;
    font-size: 2rem;
    background: rgba(0,0,0,0.4);
    padding: 210px 50px;
    border-radius: 0 10% 10% 0;
	position: absolute;
    left: -60%;
    top: 10%;
}

#article .button{float: left;}

#article dl,#article dt,#article dd{margin-bottom: 15px;}

#article dl:nth-child(4){margin-top: 30px;}

@keyframes direction{
	0%{transform: translateX(-500px)}
	100%{transform: translateX(500px)}
}

#menu li {
	display:inline-block;
	margin: 10px;
	color: #000;
	background:#fff;
	background: rgba(255,255,255, 0.5);
	-webkit-border-radius: 10px;
            border-radius: 10px;
}
#menu li.active{
	background:#666;
	background: rgba(0,0,0, 0.5);
	color: #fff;
}
#menu li a{
	text-decoration:none;
	color: #000;
}
#menu li.active a:hover{
	color: #000;
}
#menu li:hover{
	background: rgba(255,255,255, 0.8);
}
#menu li a,
#menu li.active a{
	padding: 9px 18px;
	display:block;
}
#menu li.active a{
	color: #fff;
}
#menu{
	position:fixed;
	top:0;
	left:0;
	height: 40px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
}


/* Demos Menu
 * --------------------------------------- */
 #demosMenu{
	position:fixed;
	top: 20px;
	right:20px;
	z-index: 999;
	padding: 5px 10px;
 }

/* Buttons
 * --------------------------------------- */
#download a{
    text-decoration: none
}
#download,
#download:hover {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .25)
}
.button {
    margin: 20px 0 0 0;
    vertical-align: middle;
    display: inline-block
}

.button a {
    color: #fff;
    background: rgba(84,63,255,0.4);
    padding: 15px 59px;
    border-radius: 5px;
    display: inline-block;
	font-size: 1.7rem;
}

.button .button2{
	background: rgba(0,0,0,0.4);
}

.button a:hover {
    color: #316f68;
    background-color: #fff
}


/* Extensions preview menu
 * --------------------------------------- */
.preview-extensions-menu{
	position: fixed;
    top: 0;
    right: 0;
    z-index: 99;
    border-top: 0;
    box-shadow: 1px 0px 3px rgba(0,0,0,0.8);
}
.preview-extensions-menu li{
	display: inline-block;
	margin: 0;
}
.preview-extensions-menu li a{
	padding: 15px 25px;
	display: block;
}
.preview-buy-extension{
    background: #3cc63c;
}
.preview-more-extensions{
	background: #fff;
}
.preview-buy-extension a{
	color: #fff;
}
.preview-buy-extension:hover{
	background-color: #1a961a;
}
.preview-more-extensions a{
	color: #333;
}

.code{
	background: rgba(255,255,255,0.7);
	padding: 0px 5px;
	line-height: 25px;
}


/* Style for our header texts
* --------------------------------------- */
h1{
	font-size: 5em;
	font-family: 'Jeju Gothic', sans-serif;
	color: #fff;
	margin:0;
}
.section p,
.intro p{
	color: #fff;
}

/* Centered texts in each section
* --------------------------------------- */
.section{
	text-align:center;
}


/* Bottom menu
* --------------------------------------- */
#infoMenu li a {
	color: #fff;
}

/* Sections backgrounds
* --------------------------------------- */

#circle{z-index: -1;
    position: absolute;
    width: 30%;
    height: 50%;
    left: 50%;
    border-radius: 100%;
    top: 50%;
    transform: translate(-50%, -50%);}

.color2{
    background-image: linear-gradient(#fc40ff,#543fff);
}

.color3{
	background-image: linear-gradient(#40fff2,#3fbcff);
}

.color4{
	background-image: linear-gradient(#dd5e89,#f7bb97);
}

.color5{
	background-image: linear-gradient(#ee0979,#ff6a00);
}

.color6{
	background-image: linear-gradient(#fc00ff,#00dbde);
}

.color7{
	background-image: linear-gradient(#ffb347,#ffcc33);
}

.color8{
	background-image: linear-gradient(#7474bf,#348ac7);
	z-index: 1;
}

.section .word{
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

/* hand */
#hand{position:absolute;top: 24%; left: -50%; transform: rotate(45deg); z-index: 5;
}

#gif{width: 712px;
    height: 401px;
    position: absolute;
    top: 45%;
    left: 69%;
    transform: translate(-50%, 800px);}

.newpic2{background: url(../img/project1.gif) center no-repeat;}
.newpic3{background: url(../img/project2.gif) center no-repeat;}
.newpic4{background: url(../img/project3.gif) center no-repeat;}
.newpic5{background: url(../img/project4.gif) center no-repeat;}
.newpic6{background: url(../img/project5.gif) center no-repeat;}
.newpic7{background: url(../img/project6.gif) center no-repeat;}

#gif::after{content: '';
	width: 106%;
    height: 187%;
    position: absolute;
    background: url(../img/pc.png) center no-repeat;
	top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);}

#section3 #gif{width: 329px; height: 714px; top: 50%;}
#section3 #gif::after{background: url(../img/phone.png) center no-repeat; top: 50%;}

.subgif1{width: 687px;
    height: 475px;
    position: absolute;
    top: 107%;
    left: 64%;
	z-index: 1;
    transform: scale(.5);}

.subgif1::after{content: '';
	width: 106%;
	height: 187%;
	position: absolute;
	background: url(../img/ipad.png) center no-repeat;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);}

.subgif2{width: 329px;
    height: 714px;
    position: absolute;
    top: 87%;
    left: 45%;
	z-index: 1;
    transform: scale(.5);}

.subgif2::after{content: '';
	width: 106%;
	height: 187%;
	position: absolute;
	background: url(../img/phone.png) center no-repeat;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);}

#section2 .subgif1::after, #section2 .subgif2::after{background: none;}
#section3 .subgif1::after, #section3 .subgif2::after{background: none;}
#section4 .subgif1{background: url(../img/project3sub1.png) center no-repeat;}
#section4 .subgif2{background: url(../img/project3sub2.png) center no-repeat;}
#section5 .subgif1{background: url(../img/project4sub1.png) center no-repeat;}
#section5 .subgif2{background: url(../img/project4sub2.png) center no-repeat;}
#section6 .subgif1{background: url(../img/project5sub1.png) center no-repeat;}
#section6 .subgif2{background: url(../img/project5sub2.png) center no-repeat;}
#section7 .subgif1::after, #section7 .subgif2::after{background: none;}

.block{width: 100px; height: 100px; margin-left: 250px;}
.block img{width: 100px;
    height: 100px;}

#star{position: absolute; z-index: -2; top: 0; left: 0;}

@media screen and (max-width:1700px) {
	#gif, .subgif1, .subgif2{z-index: -1; filter: blur(3px);}
	.swiper{z-index: -1; filter: blur(3px);}
}

@media screen and (max-width:800px) {
	.mega{margin-top: 192px;}
	#canvas{margin-top: -105px;}
	#article{width: 78%; left: 0;}
	#article dl:nth-child(1) dd{display: none;}
	.word{display: none;}
	.swiper{display: none;}
	.skill{display: none;}
	.table{display: none;}
	.link{transform: none; top: 27%; left: 5%;}
	.button a{padding: 15px 100px; margin-bottom: 25px;}
}