* { box-sizing: border-box;}

.grid{margin: 0 auto;
      max-width: 1600px;}

.grid-sizer,.grid-item { 
    width: 18%;}

.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-item {
  float: left;
  border-radius: 5px;
  margin: 1%;
}

.grid-item{
  transition:all .5s; transform: scale(1)}
.grid-item:hover{opacity: .7}

.w2 { width:  40%; }
.w3 { width:  60%; }

.h2 { height: 200px; }
.h3 { height: 260px; }
.h4 { height: 360px; }

@media screen and (max-width:1600px) {
  .grid{
    max-width: 1300px;}
  .grid-sizer,.grid-item { 
    width: 22.9%;}
}

@media screen and (max-width:1200px) {
  .grid{
    max-width: 900px;}
  .grid-sizer,.grid-item { 
    width: 31.13%;}
}

@media screen and (max-width:878px) {
  .grid{
    max-width: 678px;}
  .grid-sizer,.grid-item { 
    width: 47.7%;}
}

@media screen and (max-width:554px) {
  .grid{
    max-width: 254px;}
  .grid-sizer,.grid-item { 
    width: 97.9%;}
}