.faq em{font-style: normal; background: #edad14; font-size: .7em;
    border-radius: 50px; color: #fff; padding: 1px 10px;}
.faq a{padding-left: 30px;}     

.faq{font-size: 1.8em; text-align: left; margin: 110px 0;}
.faq li{border-bottom: 1px solid #333; margin: 30px; padding: 30px;}

.faq p{padding: 10px 0; overflow: hidden;}
.faq .a{display: none; line-height: 1.5em;}
.faq p span{float: right;}

.faq .hide .q a.trigger{background:none}  