/* 서브페이지 공통영역 */
.main{overflow: hidden; position: relative; margin-top: 46px; background: url(../image/visual_02_640.jpg) no-repeat;
background-size: cover; height: 100px;}
.main h3{margin-top: 40px;text-align: center;color: #f0f0f0;font-size: 1.5rem;}

.subNav{font-size: 1.3rem; padding: 7px; box-shadow: 2px 2px 10px 0 rgb(0 0 0 / 20%);position: relative;
        border-radius: 27px; margin-top: 2px;}
.subNav >a{display: block; transition: all .3s ease-out; overflow: hidden; padding: 7px 3px;}
.subNav span{float: right; padding-right: 10px;}
.subNav ul{display: none;background: rgb(255, 255, 255);position: absolute;
    top: 49px;width: 100%;left: 0px;box-shadow: rgb(0 0 0 / 20%) 2px 4px 7px 0px;
    border-radius: 0 0 27px 27px; z-index: 20;}
.subNav li{padding: 10px; border-top: 2px solid #f0f0f0;}

#content h3, #content h2{text-align: center; font-size: 1.5rem; margin-bottom: 20px; margin-top: 45px;}
#content h2{font-size: 2rem;}
.current{background-color: #edad14; color: #f0f0f0;}
.current2{background-color: #edad14; color: #f0f0f0;border-radius: 0 0 27px 27px;}

.subNav .aList li a{display: block;}
