body{background: url(../images/member_bg.jpg) no-repeat center 23%; background-size: cover;
    background-attachment: fixed;}
form{width: 495px; margin: 88px auto; backdrop-filter: brightness(0.5);
        padding: 70px; font-family: 'Nanum Gothic', sans-serif;}

.hidden{display: block; position: absolute; z-index: 10; left: -1000%; width: 1px; height: 1px; overflow: hidden; color: #fff}
a{text-decoration: none; color: #f0f0f0}
p{text-align: center;color: #f0f0f0;}

span{display: block;margin-top: 36px; color: #f0f0f0;}

h2{    text-align: center;
    margin-bottom: 16px;
    color: #f0f0f0;
    font-size: 1.4em;}

#wrap{width: 1200px; margin: auto}
.logo{    display: block;
    width: 240px;
    height: 90px;
    background: url(../../../common/images/headerLogo.png) no-repeat;
    text-indent: -999%;
    margin: 0 0 50px -90px;
    position: relative;
    top: 0;
    left: 46.5%;}
#title{text-align: center}

fieldset{width: 500px; margin: 0 auto; border: none}
input{border: none; display: block; margin: 20px 0; width: 480px; height: 50px; padding: 0 10px; font-size: 16px; border-radius: 3px; outline: none}

.signup,.go_join, .find{display: block; width: 500px; background-color: rgba(237, 172, 20, .9); color: #ffe; text-align: center; transition: all .5s}
.signup, .find{height: 50px; margin-bottom: 10px; cursor: pointer}
.go_join{height: 40px; line-height: 40px; margin: 30px auto; border-radius: 3px}
.signup:hover,.go_join:hover, .find:hover{background: rgb(250, 168, 3)}

ul{list-style: none; overflow: hidden; width: 500px; margin: 0 auto; padding: 0}
ul li{margin: 30px auto; overflow: hidden; float: left; text-align: center}
ul li:last-child{float: right}
ul li span{margin-left: 20px}
ul li i{margin-right: 8px}

#join_button{position: relative; margin-top: 50px}
#join_button::before{content: ''; width: 500px; height: 1px; background: #ccc; position: absolute; top: -20px; left: 50%; margin-left: -250px}    

.telBox {clear: both;margin: -20px 0}
.telBox select {width: 135px; border: 0px; font-size: 18px; color: #777; height: 60px; height: 50px; padding: 7px}
.telBox input{width: 135px; display: inline}

#id_input_button .go li{margin: 30px 0; width: auto; color: #f0f0f0;}
#id_input_button .go li:last-of-type a{margin-left: 10px}

.loadtexton{text-align: center; border: 1px dashed #ccc; width: 500px; overflow: hidden; margin: 20px 0 20px -250px; position: relative; left: 50%; border-radius: 10px; display: block; padding: 20px 0; line-height: 1.5em}
.loadtexton strong:first-of-type{font-size: 20px; line-height: 2em}
